.checkbox {
	position: relative;
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:checked + .checkbox__label:before {
			color: $mainColor;
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		position: relative;
		gap: 20px;
		&:before {
			@extend %ic;
			display: flex;
			flex: 0 0 26px;
			line-height: 0;
			min-width: 26px;
			max-height: 26px;
			min-height: 26px;
			content: "\e903";
			color: transparent;
			align-items: center;
			font-size: toRem(12);
			justify-content: center;
			border: 1px solid $mainColor;
		}
		@media (max-width: $mobile) {
			gap: 15px;
		}
	}
	// .checkbox__text
	&__text {
		line-height: 120%;
		align-self: center;
		a {
			color: $orangeColor;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
