// ========================================================================================================================================================
// <FORM>
.form {
	@include adaptiveValue("padding-top", 200, 100);
	&__container {
	}

	&__heading {
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(25);
			}
		}
	}

	&__body {
		display: grid;
		align-items: start;
		grid-template-columns: repeat(2, 1fr);
		@media (max-width: $mobile) {
			gap: toRem(30);
			grid-template-columns: auto;
		}
	}

	&__action {
		@media (max-width: $mobile) {
			order: 2;
		}
	}

	&__blank {
		@media (max-width: $mobile) {
			order: 1;
		}
	}
}
.blank {
	display: grid;
	@include adaptiveValue("gap", 40, 25);
	.form__error {
		display: none;
	}
	&__inputs {
		display: grid;
		gap: toRem(20);
		@media (max-width: $mobile) {
			gap: toRem(15);
		}
	}

	&__checkbox {
	}

	&__button {
		&--center {
			margin: 0 auto;
		}
	}
}
//--------------------------------------------------------------
// <BUTTONS>
// Сніппет (HTML): btn
@import "button";
//--------------------------------------------------------------
// <INPUTS>
// Сніппет (HTML): inp
@import "input";
//--------------------------------------------------------------
// <CHECK>
// Сніппет (HTML): chk
@import "checkbox";
//--------------------------------------------------------------
// <RADIO>
// Сніппет (HTML): opt
// @import "radio";
//--------------------------------------------------------------
// <SELECT>
// Сніппет (HTML): sel
// @import "select";
//--------------------------------------------------------------
// <RATING>
// Сніппет (HTML): rating
// @import "rating";
//--------------------------------------------------------------
// <QUANTITY>
// Сніппет (HTML): qa
@import "quantity";
//--------------------------------------------------------------
// <RANGE>
// Сніппет (HTML):
// @import "range";
//--------------------------------------------------------------
// <CALENDAR>
// Сніппет (HTML):
// @import "datepicker";
// ========================================================================================================================================================
