//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}
.input {
	width: 100%;
	display: block;
	caret-color: inherit;
	min-height: toRem(60);
	border-radius: 0 !important;
	border-bottom: 1px solid $mainColor;
	&::placeholder {
		color: $grayColor;
	}
	&._form-focus {
	}
	&._form-error {
		&::placeholder {
			font-weight: 500;
			color: $orangeColor;
		}
	}
	@media (max-width: $mobile) {
		min-height: toRem(50);
	}
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
	}
	&:focus::placeholder {
		opacity: 0;
	}
}

textarea.input {
	resize: none;
	padding: 0px 0px;
}
