//<QUANTITY>
// Сніппет (HTML): qa
.quantity {
	display: flex;
	gap: toRem(10);
	// .quantity__button
	&__button {
		cursor: pointer;
		font-size: toRem(22);
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
			}
		}
		// .quantity__button_plus
		&--plus {
		}
		// .quantity__button_minus
		&--minus {
		}
	}
	// .quantity__input
	&__input {
		// flex: 1 1 auto;
		input {
			font-size: 20px;
			font-weight: 500;
			width: toRem(42);
			text-align: center;
			min-height: toRem(24);
			border-radius: toRem(5);
			border: 1.5px solid $mainColor;
		}
	}
}
