//========================================================================================================================================================
// Заголовки, загальні БЕМ блоки та інше...
//========================================================================================================================================================
::-webkit-scrollbar {
	width: toRem(1);
	border-radius: toRem(10);
	background-color: $bgColor;
}
::-webkit-scrollbar-thumb {
	border-radius: toRem(10);
	background-color: $mainColor;
}
::selection {
	background-color: rgba(#a60101, 0.5);
}
//========================================================================================================================================================
// Title & Text
.title {
	font-weight: 500;
	line-height: 115%;
	&--big {
		@include adaptiveValue("font-size", 60, 28);
	}
	&--ord {
		@include adaptiveValue("font-size", 40, 22);
		span {
			color: $orangeColor;
		}
	}
	&--1380 {
		@include adaptiveValue("max-width", 1280, 520, 0, $containerWidth, 767.98);
	}
	&--1280 {
		@include adaptiveValue("max-width", 1280, 520, 0, $containerWidth, 767.98);
	}
	&--1080 {
		@include adaptiveValue("max-width", 1080, 520, 0, $containerWidth, 767.98);
	}
	&--1000 {
		@include adaptiveValue("max-width", 1000, 520, 0, $containerWidth, 767.98);
	}
	&--970 {
		@include adaptiveValue("max-width", 970, 520, 0, $containerWidth, 767.98);
	}
}
.text {
	line-height: 120%;
	@include adaptiveValue("font-size", 16, 14);
}
//========================================================================================================================================================
// Article
.article {
	display: grid;
	gap: toRem(25);
	padding-top: toRem(20);
	grid-template-columns: repeat(2, 1fr);
	border-top: toRem(1) solid $mainColor;
	@media (max-width: $mobileSmall) {
		gap: toRem(10);
		grid-template-columns: auto;
	}
	&__title {
		font-weight: 500;
		@include adaptiveValue("font-size", 20, 16);
	}

	&__text {
		@media (max-width: $mobileSmall) {
			padding-left: toRem(80);
		}
	}
}
//========================================================================================================================================================
