//========================================================================================================================================================
// Заголовки, загальні БЕМ блоки та інше...
//========================================================================================================================================================
::-webkit-scrollbar {
	width: toRem(1);
	border-radius: toRem(10);
	background-color: $bgColor;
}
::-webkit-scrollbar-thumb {
	border-radius: toRem(10);
	background-color: $mainColor;
}
::selection {
	background-color: rgba(#a60101, 0.5);
}
//========================================================================================================================================================
// Title & Text
.title {
	font-weight: 500;
	line-height: 115%;
	&--big {
		@include adaptiveValue("font-size", 60, 28);
	}
	&--ord {
		@include adaptiveValue("font-size", 40, 22);
		span {
			color: $orangeColor;
		}
	}
	&--nor {
		@include adaptiveValue("font-size", 24, 20);
	}
	&--sub {
		@include adaptiveValue("font-size", 20, 14);
	}
	&--1380 {
		@include adaptiveValue("max-width", 1280, 520, 0, $containerWidth, 767.98);
	}
	&--1280 {
		@include adaptiveValue("max-width", 1280, 520, 0, $containerWidth, 767.98);
	}
	&--1080 {
		@include adaptiveValue("max-width", 1080, 520, 0, $containerWidth, 767.98);
	}
	&--1000 {
		@include adaptiveValue("max-width", 1000, 520, 0, $containerWidth, 767.98);
	}
	&--970 {
		@include adaptiveValue("max-width", 970, 520, 0, $containerWidth, 767.98);
	}
}
.text {
	line-height: 120%;
	p {
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}
	&--big {
		@include adaptiveValue("font-size", 24, 18);
	}
	&--sub {
		@include adaptiveValue("font-size", 20, 16);
	}
	&--min {
		@include adaptiveValue("font-size", 16, 14);
	}
}
//========================================================================================================================================================
// Article
.article {
	display: grid;
	gap: toRem(25);
	padding-top: toRem(20);
	grid-template-columns: repeat(2, 1fr);
	border-top: toRem(1) solid $mainColor;
	@media (max-width: $mobileSmall) {
		gap: toRem(10);
		grid-template-columns: auto;
	}
	&__title {
		font-weight: 500;
		@include adaptiveValue("font-size", 20, 16);
	}

	&__text {
		@media (max-width: $mobileSmall) {
			padding-left: toRem(80);
		}
	}
}
//========================================================================================================================================================
// Heading
.heading {
	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 34, 24);
		}
	}

	&__text {
	}
}
//========================================================================================================================================================
// Image
.image {
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transform: scale(1.01);
		object-position: center;
		transition: transform 0.3s ease 0s;
	}
	&--hv {
		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
	&--brd {
		border: toRem(10) solid $redColor;
	}
}
//========================================================================================================================================================
// Arrows
.arrows {
	display: flex;
	align-items: center;
	.arrows-arrow {
		display: flex;
		width: toRem(40);
		height: toRem(40);
		border-radius: 50%;
		align-items: center;
		font-size: toRem(22);
		padding-right: toRem(3);
		justify-content: center;
		border: toRem(1.5) solid $mainColor;
		transition:
			background-color 0.3s ease 0s,
			color 0.3s ease 0s,
			outline 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $bgColor;
				background-color: $orangeColor;
				border: toRem(1.5) solid $orangeColor;
			}
		}
		&--prev {
		}
		&--next {
			transform: rotate(-180deg);
		}
	}
}
//========================================================================================================================================================
// Action
.action {
	&__list {
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
	}

	&__link {
		display: flex;
		transition: color 0.3s ease 0s;
		@include adaptiveValue("font-size", 20, 16);
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
			}
		}
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	&__socials {
		display: flex;
		gap: toRem(15);
		align-items: center;
	}

	&__social {
		display: flex;
		width: toRem(30);
		height: toRem(30);
		align-items: center;
		font-size: toRem(30);
		justify-content: center;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
			}
		}
	}
}
//========================================================================================================================================================
// Filter
.filter {
	&__top {
		top: 0;
		left: -100%;
		width: 100%;
		z-index: 16;
		display: flex;
		position: fixed;
		align-items: center;
		transition: left 0.3s;
		min-height: toRem(80);
		background-color: $whiteColor;
		justify-content: space-between;
		border-bottom: toRem(1) solid rgba($mainColor, 0.1);
		@include adaptiveValue("padding-left", 28, 15, 0, 767.98, 320);
		@include adaptiveValue("padding-right", 28, 15, 0, 767.98, 320);
		@media (min-width: $mobile) {
			display: none;
		}
		.filter-open & {
			left: 0;
		}
	}

	&__cancel {
		width: toRem(40);
		height: toRem(40);
		font-size: toRem(40);
	}

	&__body {
		display: grid;
		gap: toRem(80);
		@media (max-width: $mobile) {
			z-index: 15;
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			overflow: auto;
			gap: toRem(40);
			align-items: start;
			transition: left 0.3s;
			padding-top: toRem(100);
			padding-bottom: toRem(30);
			background-color: $bgColor;
			grid-template-rows: 1fr auto;
			@include adaptiveValue("padding-left", 28, 15, 0, 767.98, 320);
			@include adaptiveValue("padding-right", 28, 15, 0, 767.98, 320);
			.filter-open & {
				left: 0;
			}
		}
	}

	&__main {
		display: grid;
		gap: toRem(80);
		@media (max-width: $mobile) {
			gap: toRem(40);
		}
	}

	&__block {
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(20);
			}
		}
	}

	&__checkboxes {
		display: grid;
		gap: toRem(20);
		.checkbox {
			@media (any-hover: hover) {
				&:hover {
					.checkbox__text {
						color: $orangeColor;
					}
				}
			}
		}
		@media (max-width: $mobile) {
			gap: toRem(15);
		}
	}

	&__actions {
		display: grid;
		gap: toRem(20);
		@media (max-width: $tablet) {
			gap: toRem(15);
		}
	}

	&__button {
		@media (max-width: $tablet) {
			max-width: 100%;
		}
	}
}
//========================================================================================================================================================
// Thowar
.thowar {
	display: grid;
	@include adaptiveValue("row-gap", 100, 50);
	@include adaptiveValue("column-gap", 20, 10);
	grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
	@media (max-width: $mobile) {
		grid-template-columns: repeat(2, 1fr);
	}
	&__item {
		display: grid;
		@include adaptiveValue("row-gap", 40, 25);
	}

	&__image {
		img {
			@include adaptiveValue("height", 400, 200);
		}
	}

	&__content {
		display: grid;
		@include adaptiveValue("row-gap", 20, 15);
	}

	&__title {
	}

	&__text {
		line-height: 120%;
		@include adaptiveValue("font-size", 16, 12);
		p {
			&:not(:last-child) {
				margin-bottom: toRem(15);
			}
		}
	}

	&__info {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

	&__button {
		max-width: 100%;
	}
}
//========================================================================================================================================================
