//========================================================================================================================================================
// Home Page
//========================================================================================================================================================
// Hero
.result {
	@include adaptiveValue("padding-top", 200, 100);
	&__container {
	}

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 45, 100);
		}
	}

	&__body {
		display: grid;
		@include adaptiveValue("gap", 80, 50);
		margin: toRem(0) toRem(0) toRem(0) auto;
		@media (min-width: $mobile) {
			max-width: 66.233766%;
		}
	}

	&__article {
	}
}
// Product
.product {
	@include adaptiveValue("padding-top", 200, 100);
	&__container {
	}

	&__heading {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 52, 42);
		}
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(27);
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(20);
			}
		}
	}

	&__body {
		display: grid;
		gap: toRem(20);
		align-items: start;
		@media (max-width: $tablet) {
			gap: toRem(10);
		}
	}

	&__articles {
		display: grid;
		gap: toRem(20);
		@media (max-width: $tablet) {
			gap: toRem(10);
		}
		&--big {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr;
			grid-template-areas:
				"one one one two two two"
				"one one one two two two"
				"three three four four five five"
				"three three four four five five";
			.product__article {
				&:nth-child(1) {
					grid-area: one;
				}
				&:nth-child(2) {
					grid-area: two;
				}
				&:nth-child(3) {
					grid-area: three;
				}
				&:nth-child(4) {
					grid-area: four;
				}
				&:nth-child(5) {
					grid-area: five;
				}
			}
			@media (max-width: $mobile) {
				grid-auto-columns: 1fr;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr 1fr;
				grid-template-areas:
					"one one"
					"two three"
					"four five";
			}
		}
		&--ord {
			grid-auto-columns: 1fr;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			grid-template-areas:
				"one one two two three three"
				"four four four five five five";
			.product__article {
				&:nth-child(1) {
					grid-area: one;
				}
				&:nth-child(2) {
					grid-area: two;
				}
				&:nth-child(3) {
					grid-area: three;
				}
				&:nth-child(4) {
					grid-area: four;
				}
				&:nth-child(5) {
					grid-area: five;
				}
			}
			@media (max-width: $mobile) {
				grid-auto-columns: 1fr;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr 1fr;
				grid-template-areas:
					"one two"
					"three four"
					"five five";
			}
		}
		&--min {
			grid-template-columns: repeat(4, 1fr);
			@media (max-width: $tablet) {
				grid-template-columns: repeat(2, 1fr);
			}
			@media (max-width: $mobile) {
				grid-auto-columns: 1fr;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr 1fr;
				grid-template-areas:
					"one one"
					"two three"
					"four four";
				.product__article {
					&:nth-child(1) {
						grid-area: one;
					}
					&:nth-child(2) {
						grid-area: two;
					}
					&:nth-child(3) {
						grid-area: three;
					}
					&:nth-child(4) {
						grid-area: four;
					}
				}
			}
		}
	}

	&__article {
		overflow: hidden;
		position: relative;
		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.1);
				}
				span {
					opacity: 0;
				}
			}
		}
		img {
			width: 100%;
			object-fit: cover;
			object-position: center;
			transition: transform 0.3s ease 0s;
			@include adaptiveValue("height", 370, 160);
		}
		span {
			left: 40px;
			bottom: 30px;
			color: $bgColor;
			font-weight: 500;
			position: absolute;
			pointer-events: none;
			transition: opacity 0.3s ease 0s;
			@include adaptiveValue("font-size", 20, 14);
		}
		@media (max-width: $tablet) {
			span {
				left: 15px;
				bottom: 15px;
			}
		}
	}
}
// Expert
.expert {
	@include adaptiveValue("padding-top", 200, 100);
	&__container {
	}

	&__heading {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 52, 42);
		}
	}

	&__body {
		display: grid;
		gap: toRem(30);
		align-items: start;
		grid-template-columns: repeat(2, 1fr);
		@media (max-width: $mobile) {
			grid-template-columns: auto;
		}
	}

	&__content {
		max-width: toRem(600);
		@media (max-width: $mobile) {
			order: 2;
		}
	}

	&__text {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 32);
		}
	}

	&__button {
	}

	&__image {
		&--margin {
			@media (max-width: toEm(1279.98)) {
				margin-top: toRem(115);
			}
			@media (max-width: $mobile) {
				margin-top: toRem(0);
			}
		}
		@media (max-width: $mobile) {
			order: 1;
		}
	}
}
// Patent
.patent {
	@include adaptiveValue("padding-top", 200, 100);
	&__container {
	}

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 34, 40);
		}
	}

	&__body {
		display: grid;
		align-items: start;
		@include adaptiveValue("gap", 80, 30);
		grid-template-columns: repeat(2, 1fr);
		@media (max-width: $tablet) {
			max-width: 66.233766%;
			grid-template-columns: auto;
			margin: toRem(0) toRem(0) toRem(0) auto;
		}
		@media (max-width: $mobile) {
			max-width: 100%;
			margin: toRem(0);
		}
	}

	&__body {
	}

	&__image {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $whiteColor;
		@include adaptiveValue("padding-left", 20, 15);
		@include adaptiveValue("padding-right", 20, 15);
		@include adaptiveValue("padding-top", 112, 15, 0, $containerWidth, 767.98);
		@include adaptiveValue("padding-bottom", 112, 15, 0, $containerWidth, 767.98);
		img {
			width: 100%;
		}
	}

	&__articles {
		display: grid;
		@include adaptiveValue("gap", 80, 50);
	}

	&__article {
	}
}
// Example
.example {
	@include adaptiveValue("padding-top", 200, 100);
	&__container {
	}

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 0, 15);
		}
	}

	&__arrows {
		justify-content: flex-end;
		@include adaptiveValue("gap", 40, 25);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 15);
		}
	}

	&__arrow {
	}

	&__slider.swiper {
		@media (max-width: $mobile) {
			overflow: visible;
		}
	}

	&__wrapper {
	}

	&__slide {
	}
}
.slide-example {
	padding-bottom: toRem(20);
	border-bottom: toRem(1) solid $mainColor;
	&__image {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	&__title {
	}
}
// News
.news {
	@include adaptiveValue("padding-top", 200, 100);
	&__container {
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	&__items {
		display: grid;
		row-gap: toRem(30);
		@include adaptiveValue("column-gap", 20, 10);
		grid-template-columns: repeat(auto-fill, minmax(toRem(400), 1fr));
		&:not(:last-child) {
			margin-bottom: toRem(40);
		}
		@media (max-width: $tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: toEm(360)) {
			grid-template-columns: auto;
		}
	}

	&__item {
	}

	&__button {
	}
}
.item-news {
	display: grid;
	@include adaptiveValue("gap", 20, 10);
	border-bottom: toRem(1) solid $mainColor;
	@include adaptiveValue("padding-bottom", 20, 10);
	&__image {
		img {
			@include adaptiveValue("height", 370, 160);
		}
	}

	&__title {
	}

	&__text {
	}
}
// Quest
.quest {
	@include adaptiveValue("padding-top", 200, 100);
	&__container {
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(25);
		}
	}

	&__spollers {
		display: grid;
		margin: toRem(0) toRem(0) toRem(0) auto;
		@media (min-width: $mobile) {
			max-width: 66.233766%;
		}
	}
}
//========================================================================================================================================================
// About Page
//========================================================================================================================================================
// About
.about {
	@include adaptiveValue("padding-top", 200, 100);
	&__container {
	}

	&__heading {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 52, 42);
		}
	}

	&__body {
		display: grid;
		@include adaptiveValue("gap", 40, 20);
		grid-template-columns: repeat(2, 1fr);
		@media (max-width: $mobile) {
			grid-template-columns: auto;
		}
	}

	&__text {
		@include adaptiveValue("max-width", 600, 320, $containerWidth, 767.98);
	}
}
// Best
.best {
	@include adaptiveValue("padding-top", 200, 100);
	&__container {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 20);
		}
	}

	&__title {
	}

	&__image {
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transform: scale(1.01);
			object-position: cover;
			@include adaptiveValue("height", 650, 200);
		}
		@media (min-width: $mobile) {
			border: toRem(10) solid $redColor;
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("padding-left", 30, 15, 0, 767.98, 320);
			@include adaptiveValue("padding-right", 30, 15, 0, 767.98, 320);
			img {
				border: toRem(10) solid $redColor;
			}
		}
	}
}
//========================================================================================================================================================
// About Page
//========================================================================================================================================================
// Camera
.camera {
	@include adaptiveValue("padding-top", 200, 100);
	&__container {
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-bottom: toRem(20);
			}
		}
	}

	&__tabs {
	}
}
.camera-body {
	&__content {
		display: grid;
		gap: toRem(15);
		align-items: start;
		grid-template-columns: repeat(2, 1fr);
		@media (max-width: $mobile) {
			gap: toRem(35);
			grid-template-columns: auto;
		}
	}

	&__describ {
		display: grid;
		@include adaptiveValue("gap", 40, 25);
		@media (max-width: $mobile) {
			order: 2;
		}
	}

	&__about {
	}

	&__about-title {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	&__about-text {
	}

	&__caracter {
	}

	&__caracter-title {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	&__caracter-text {
	}

	&__cost {
	}

	&__result {
	}

	&__result-title {
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	&__discount {
	}

	&__button {
	}

	&__image {
		margin-top: toRem(80);
		@media (max-width: $tablet) {
			margin-top: toRem(0);
		}
		@media (max-width: $mobile) {
			order: 1;
		}
	}
}
//========================================================================================================================================================
